# System Files
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dependencies
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/node_modules/
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
expo-env.d.ts
